html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#saveButton {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 9999;
}

#redrawButton {
  position: absolute;
  right: 50px;
  top: 70px;
  z-index: 9999;
}

#animateToggle {
  position: absolute;
  right: 50px;
  top: 90px;
  background-color: white;
  z-index: 9999;
}
